@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Sora';
}

#header {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin-top: 30px;
}

#header .logo img {
    display: block;
    height: 60px;
    width: 60px;
    margin-left: 100px;
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

#header .menu {
    display: flex;
    align-items: center;
    align-content: right;
}

#header .menu ul {
    display: flex;
    margin-right: 10px;
}

#header .menu ul li {
    list-style: none;
    padding: 15px;
    color: #390994;
    font-size: 15px;
}

#header .menu ul li:hover {
    text-decoration: underline;
    text-decoration-color: #390994;
}

#header .mail {
    color: #390994;
    margin-right: 50px;
}

#header .menu button {
    border-radius: 15px;
    margin-right: 50px;
    padding: 15px;
}

#header .menu .button {
    display: flex;
    background: linear-gradient(90deg,#8750f7, #8750f7, #2a1454);
    color: white;
    font-family: 'Sora';
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: -1.5px;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
    padding: 10px;
    height: 35px;
    width: 130px;
    border-radius: 35px;
}

#header .menu .button:hover {
    background: linear-gradient(90deg,#2a1454, #8750f7, #8750f7);
}

#menu {
    display: flex;
}

#main {
}

.container1 {
    display: flex;
    width: 90%;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

.intro_text {
    margin: 10px;
    padding: 10px;
}

 span {
    color: #2a1454;
    font-size: 36px;
    font-weight: 700;
    width: 50%;
}

h1 {
    font-size: 60px;
    color: #8750f7;
    margin-top: 10px;
    margin-bottom: 0;
}

.lead {
    font-size: 20px;
    font-weight: 300;
    color: #2a1454;
    max-width: 550px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

#main .container1 .intro_text .button2 {
    display: flex;
    gap: 6px;
    align-items: center;
    align-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #8750f7;
    margin-top: 100px;
}

#main .container1 .intro_text .button2 .download_cv {
    border: 1px solid #8750f7;
    border-radius: 50px;
    justify-content: center;
    gap: 25px;
    height: 0px;
    width: 200px;
    margin-top: -50px;
    padding: 30px;
}

#main .container1 .intro_text .button2 .img_download {
    margin-left: 10px;
}

#main .container1 .intro_text .button2 ul {
    display: flex;
}

#main .container1 .intro_text .button2 ul li {
    display: flex;
    border: 1px solid #8750f7;
    border-radius: 100%;
    margin-left: 30px;
    margin-top: -50px;
    padding: 10px;
}

.download_cv {
    display: flex;
    align-items: center;
}

.flaticon_dowload {
    margin: 10px;
}

.img1 {
    margin-left: 100px;
}

#main .row {
    display: flex;
    max-width: 100%;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 10px;
}

#main .row .number {
    font-size: 64px;
    font-weight: 700;
    color: #8750f7;
    width: 25%;
    height: 78px;
    margin: 20px;
}

#main .row .text {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #8750f7;
}

#main .my_quality1 {
    background-color: rgb(240, 238, 238);
    display: inline-block;
    max-width: 100%;
    height: 267px;
}

#main .my_quality2 {
    font-size: 45px;
    font-weight: bold;
    color: #8750f7;
    text-align: center;
    width: 458px;
    height: 55px;
    margin: auto;
}

#main .my_quality3 {
    font-size: 17px;
    color: #2a1454;
    text-align: center;
    width: 700px;
    height: 48px;
    margin-top: 15px;
    margin-left: auto ;
    margin-right: auto;
}

#main .services {
    background-color: rgb(240, 238, 238);
    display: flex;
    max-width: 100%;
}

#main .services {
    display: flex;
    width: 100%;
    margin: 0px;

}

#main .services .branding .number_services {
    font-size: 20px;
    font-weight: 700;
    color: #8750f7;
    width: 50%;
}

#main .services .branding .text_description {
    font-size: 30px;
    font-weight: 700;
    color: #8750f7;
    width: 50%;
    padding: 30px;
}